body {
    background-color: black;
}

#title {
    color: #0479ff;
    font-family: Times New Roman;
    font-size: 2em;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    height: 10%;
    width: 100%;
    margin: 0px;
}

#ps {
    color: #0479ff;
    font-family: Times New Roman;
    font-size: 2em;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    height: 40%;
    width: 100%;
    margin: 0px;
}

#playertable {
    float: left;
    width: 50%;
    text-align: center;
}

th {
    text-align: left;
}

#ttop {
    padding: 0px;
    margin: 0px;
    border: yellow solid 1px;
    border-bottom: none;
}

#tbot {
    padding: 0px;
    margin: 0px;
    border: yellow solid 1px;
}


#scoreboard {
    float: right;
    width: 50%;
    text-align: center;
}

#scorec {
    padding: 0px;
    margin: 0px;
    border: yellow solid 1px;
    width: 50%;
    height: 100%;
}
